:root {
  --primary: #0D9488;
  --primary-hover: #0F766E;
  --primary-light: #2DD4BF;

  --bg-default: #F9FAFB;
  --surface: #FFFFFF;
  --border-color: #E5E7EB;
  --text-primary: #1f3721;
  --text-secondary: #6B7280;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-default);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
    color: var(--text-primary);
}