:host {
  display: block;
  height: 100vh;
}
.app-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content-wrapper {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-content-wrapper {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .main-content-wrapper {
    padding: 4rem;
  }
}
