.sidebar {
  height: 100%;
  background-color: var(--surface);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  transition: width 300ms ease-in-out;
  border-right: 1px solid var(--border-color);
  width: 16rem;
}

.sidebar.minimized {
  width: 5rem;
}

.sidebar.minimized .minimize-button {
  margin: 0 auto;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  width: 100%;
  transition: width 300ms ease-in-out;
}

.sidebar.minimized .logo-container {
  width: 0;
}

.logo {
  width: 11rem;
  color: var(--primary);
  flex-shrink: 0;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
}

.minimize-button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-secondary);
}

.minimize-button:hover {
  background-color: var(--border-color);
}
.minimize-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}
.minimize-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-nav {
  flex: 1;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: color 200ms, background-color 200ms;
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.sidebar.minimized .nav-item {
  justify-content: center;
}

.nav-item:not(.active):hover {
  background-color: var(--border-color);
}

.nav-item.active {
  background-color: var(--primary);
  color: white;
}
.nav-item.active:hover {
  background-color: var(--primary-hover);
}

.nav-item-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.nav-item-label {
  font-weight: 500;
  transition: opacity 300ms, max-width 300ms, margin-left 300ms;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1rem;
  opacity: 1;
}

.sidebar.minimized .nav-item-label {
  opacity: 0;
  max-width: 0;
  margin-left: 0;
}

.sidebar-footer {
  padding: 1rem 0.5rem;
  border-top: 1px solid var(--border-color);
}

.logout-button {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 200ms;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.sidebar.minimized .logout-button {
  justify-content: center;
}

.logout-button:hover {
  background-color: var(--border-color);
}

.logout-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.logout-label {
  font-weight: 500;
  color: var(--red);
  transition: opacity 300ms, max-width 300ms, margin-left 300ms;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1rem;
  max-width: 100px;
  opacity: 1;
}

.sidebar.minimized .logout-label {
  opacity: 0;
  max-width: 0;
  margin-left: 0;
}

.user-button {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 200ms;
  width: 100%;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-primary);
}

.sidebar.minimized .user-button {
  justify-content: center;
}

.user-button:hover {
  background-color: var(--border-color);
}

.user-icon {
  width: 1.5rem;
  flex-shrink: 0;
  color: var(--text-secondary);
}

.user-label {
  font-weight: 500;
  color: black;
  transition: opacity 300ms, max-width 300ms, margin-left 300ms;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1rem;
  max-width: 100px;
  opacity: 1;
}

.sidebar.minimized .user-label {
  opacity: 0;
  max-width: 0;
  margin-left: 0;
}
